openapi: 3.1.0
info:
  title: PREP Items and Chicken Modules API
  version: 1.0.0
  description: >-
    API for the PREP Admin item list and store-item property workflows shown in
    the item management screens. Chicken-fried and chicken-rotisserie are
    modules and are modeled as module identifiers, not item categories.
  contact:
    name: PREP API Team
servers:
  - url: https://api.prep.safeway.com/v1
    description: Production
  - url: https://api.prep-staging.safeway.com/v1
    description: Staging

tags:
  - name: Authentication
  - name: Items
  - name: Modules
  - name: Module item properties

security:
  - bearerAuth: []

paths:
  /items:
    get:
      tags: [Items]
      operationId: listItems
      summary: List items
      description: Returns the item-management table with optional module and catalog filters.
      parameters:
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/ModuleKeyParam'
        - name: itemNumber
          in: query
          description: Exact item number or UPC/PLU lookup.
          schema:
            type: string
            maxLength: 32
        - name: active
          in: query
          schema:
            type: boolean
            default: true
        - name: department
          in: query
          schema:
            type: string
            maxLength: 100
        - name: category
          in: query
          schema:
            type: string
            maxLength: 100
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: A page of items.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Items]
      operationId: createItem
      summary: Create an item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemCreate'
      responses:
        '201':
          description: Item created.
          headers:
            Location:
              description: URL of the created item.
              schema:
                type: string
                format: uri
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /items/{itemId}:
    parameters:
      - $ref: '#/components/parameters/ItemIdParam'
    get:
      tags: [Items]
      operationId: getItem
      summary: Get an item
      responses:
        '200':
          description: Item details.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags: [Items]
      operationId: updateItem
      summary: Update editable item fields
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemUpdate'
      responses:
        '200':
          description: Updated item.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Items]
      operationId: deactivateItem
      summary: Deactivate an item
      description: Soft-deletes an item by setting active to false.
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      responses:
        '204':
          description: Item deactivated.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules:
    get:
      tags: [Modules]
      operationId: listModules
      summary: List available item modules
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Supported item modules.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Module'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /items/{itemId}/modules/{moduleKey}:
    parameters:
      - $ref: '#/components/parameters/ItemIdParam'
      - $ref: '#/components/parameters/ModuleKeyPathParam'
    get:
      tags: [Module item properties]
      operationId: getModuleItemProperties
      summary: Get an item's properties for a module
      responses:
        '200':
          description: Module-specific item properties.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleItemProperties'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags: [Module item properties]
      operationId: upsertModuleItemProperties
      summary: Create or replace an item's module properties
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModulePropertiesRequest'
            examples:
              chickenFried:
                $ref: '#/components/examples/ChickenFriedProperties'
              chickenRotisserie:
                $ref: '#/components/examples/ChickenRotisserieProperties'
      responses:
        '200':
          description: Module properties saved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleItemProperties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/token:
    post:
      tags: [Authentication]
      operationId: issueToken
      summary: Issue a JWT access token
      description: OAuth 2.0 client-credentials exchange for service integrations.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id, client_secret]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                client_id:
                  type: string
                client_secret:
                  type: string
                  format: password
                scope:
                  type: string
                  example: items:read items:write
      responses:
        '200':
          description: JWT access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by the enterprise identity provider. Use scopes `items:read`, `items:write`, or `modules:write` as applicable.
      x-scopes:
        items:read: Read items and module definitions.
        items:write: Create, update, or deactivate items.
        modules:write: Update module-specific item properties.

  parameters:
    ItemIdParam:
      name: itemId
      in: path
      required: true
      description: Stable item identifier.
      schema:
        type: string
        format: uuid
    ModuleKeyParam:
      name: module
      in: query
      description: Filter items by module.
      schema:
        $ref: '#/components/schemas/ModuleKey'
    ModuleKeyPathParam:
      name: moduleKey
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ModuleKey'
    SearchParam:
      name: q
      in: query
      description: Case-insensitive search across item name, item number, and UPC/PLU.
      schema:
        type: string
        minLength: 1
        maxLength: 200
    CursorParam:
      name: cursor
      in: query
      description: Opaque cursor returned by the previous page.
      schema:
        type: string
        minLength: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    SortParam:
      name: sort
      in: query
      schema:
        type: string
        enum: [itemName, itemNumber, updatedAt, -itemName, -itemNumber, -updatedAt]
        default: itemName
    IfMatchParam:
      name: If-Match
      in: header
      required: true
      description: Entity tag from the latest GET response, used for optimistic concurrency.
      schema:
        type: string
        minLength: 1

  headers:
    ETag:
      description: Entity tag for optimistic concurrency control.
      schema:
        type: string
    RequestId:
      description: Unique identifier for support and tracing.
      schema:
        type: string
        format: uuid
    RetryAfter:
      description: Number of seconds to wait before retrying.
      schema:
        type: integer
        minimum: 1

  responses:
    BadRequest:
      description: Request syntax or query parameter validation failed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Missing, expired, or invalid JWT.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: JWT is valid but lacks the required scope.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Resource does not exist or is not visible to the caller.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: Resource state conflicts with the requested operation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PreconditionFailed:
      description: If-Match does not match the current entity tag.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: Payload is well-formed but violates a domain rule.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    RateLimited:
      description: Too many requests.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    ModuleKey:
      type: string
      enum:
        - chicken-fried
        - chicken-rotisserie
      description: PREP module identifier. These values represent modules, not categories.

    Module:
      type: object
      required: [key, name, active]
      properties:
        key:
          $ref: '#/components/schemas/ModuleKey'
        name:
          type: string
          examples: [Chicken - Fried, Chicken - Rotisserie]
        active:
          type: boolean
        description:
          type: string

    Item:
      type: object
      required: [id, itemNumber, name, upcPlu, active, updatedAt]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        itemNumber:
          type: string
          minLength: 1
          maxLength: 32
        name:
          type: string
          minLength: 1
          maxLength: 200
        upcPlu:
          type: string
          pattern: '^[0-9]{4,14}$'
        department:
          type: string
          maxLength: 100
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        active:
          type: boolean
        moduleKeys:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ModuleKey'
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ItemCreate:
      type: object
      additionalProperties: false
      required: [itemNumber, name, upcPlu]
      properties:
        itemNumber:
          type: string
          minLength: 1
          maxLength: 32
        name:
          type: string
          minLength: 1
          maxLength: 200
        upcPlu:
          type: string
          pattern: '^[0-9]{4,14}$'
        department:
          type: string
          maxLength: 100
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        active:
          type: boolean
          default: true
        moduleKeys:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ModuleKey'

    ItemUpdate:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        upcPlu:
          type: string
          pattern: '^[0-9]{4,14}$'
        department:
          type: string
          maxLength: 100
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        active:
          type: boolean
        moduleKeys:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ModuleKey'

    ItemPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        pagination:
          $ref: '#/components/schemas/CursorPagination'

    CursorPagination:
      type: object
      required: [limit, hasMore]
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        nextCursor:
          type: [string, 'null']
        hasMore:
          type: boolean

    ModuleItemProperties:
      type: object
      required: [itemId, itemName, csc, upc, module, payload, updatedAt]
      additionalProperties: false
      properties:
        itemId:
          type: string
          format: uuid
          readOnly: true
        itemName:
          type: string
          maxLength: 200
          readOnly: true
        csc:
          type: string
          maxLength: 32
          readOnly: true
        upc:
          type: string
          pattern: '^[0-9]{4,14}$'
          readOnly: true
        module:
          $ref: '#/components/schemas/ModuleKey'
          readOnly: true
        payload:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/ChickenFriedPayloadItem'
            - type: array
              items:
                $ref: '#/components/schemas/ChickenRotisseriePayloadItem'
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ModulePropertiesRequest:
      type: object
      additionalProperties: false
      oneOf:
        - $ref: '#/components/schemas/ChickenFriedModulePropertiesRequest'
        - $ref: '#/components/schemas/ChickenRotisserieModulePropertiesRequest'

    ChickenFriedModulePropertiesRequest:
      type: object
      additionalProperties: false
      required: [module, payload]
      properties:
        module:
          type: string
          const: chicken-fried
        payload:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChickenFriedPayloadItem'

    ChickenRotisserieModulePropertiesRequest:
      type: object
      additionalProperties: false
      required: [module, payload]
      properties:
        module:
          type: string
          const: chicken-rotisserie
        payload:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChickenRotisseriePayloadItem'

    ChickenFriedPayloadItem:
      type: object
      additionalProperties: false
      description: One editable chicken-fried parameter in the payload array.
      oneOf:
        - $ref: '#/components/schemas/ChickenFriedPieces'
        - $ref: '#/components/schemas/ChickenFriedTypeOfBox'

    ChickenFriedPieces:
      type: object
      additionalProperties: false
      required: [parameter, value]
      properties:
        parameter:
          type: string
          const: pieces
        value:
          type: integer
          minimum: 1
          maximum: 999

    ChickenFriedTypeOfBox:
      type: object
      additionalProperties: false
      required: [parameter, value]
      properties:
        parameter:
          type: string
          const: typeOfBox
        value:
          type: string
          maxLength: 100

    ChickenRotisseriePayloadItem:
      type: object
      additionalProperties: false
      description: One editable chicken-rotisserie parameter in the payload array.
      oneOf:
        - $ref: '#/components/schemas/ChickenRotisserieWholeBirdConv'
        - $ref: '#/components/schemas/ChickenRotisserieShredded'
        - $ref: '#/components/schemas/ChickenRotisserieVariety'

    ChickenRotisserieWholeBirdConv:
      type: object
      additionalProperties: false
      required: [parameter, value]
      properties:
        parameter:
          type: string
          const: wholeBirdConv
        value:
          type: boolean

    ChickenRotisserieShredded:
      type: object
      additionalProperties: false
      required: [parameter, value]
      properties:
        parameter:
          type: string
          const: shredded
        value:
          type: boolean

    ChickenRotisserieVariety:
      type: object
      additionalProperties: false
      required: [parameter, value]
      properties:
        parameter:
          type: string
          const: variety
        value:
          type: string
          maxLength: 100

    Problem:
      type: object
      description: RFC 9457 problem details response.
      required: [type, title, status, detail, traceId]
      properties:
        type:
          type: string
          format: uri-reference
          example: https://api.prep.safeway.com/problems/validation-error
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
        traceId:
          type: string
          format: uuid
        errors:
          type: array
          items:
            type: object
            required: [field, message]
            properties:
              field:
                type: string
              message:
                type: string
              code:
                type: string

    TokenResponse:
      type: object
      required: [access_token, token_type, expires_in]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          minimum: 1
        scope:
          type: string

  examples:
    ChickenFriedProperties:
      value:
        module: chicken-fried
        payload:
          - parameter: pieces
            value: 8
          - parameter: typeOfBox
            value: FS
    ChickenRotisserieProperties:
      value:
        module: chicken-rotisserie
        payload:
          - parameter: wholeBirdConv
            value: true
          - parameter: shredded
            value: false
          - parameter: variety
            value: Lemon Pepper
