openapi: 3.1.0
info:
  title: PREP Items management
  version: 1.0.0
  description: >-
    API for the PREP Admin item list
  contact:
    name: PREP API Team
servers:
  - url: https://api.prep.safeway.com/v1
    description: Production
  - url: https://api.prep-staging.safeway.com/v1
    description: Staging

tags:
  - name: Items
  - name: Modules

security:
  - bearerAuth: []

paths:
  /items:
    get:
      tags: [Items]
      operationId: listItems
      summary: List and search items by module
      description: >-
        Returns items assigned to the required `module`. Optionally narrow the
        results by `itemName` or `csc` and paginate with `page` and `limit`.
      parameters:
        - $ref: '#/components/parameters/ModuleKeyParam'
        - $ref: '#/components/parameters/ItemNameParam'
        - $ref: '#/components/parameters/CscParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A page of items.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /items/{itemId}:
    parameters:
      - $ref: '#/components/parameters/ItemIdParam'
    get:
      tags: [Items]
      operationId: getItem
      summary: Get an item
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Item details.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules/{moduleKey}/items:
    parameters:
      - $ref: '#/components/parameters/ModuleKeyPathParam'
    get:
      tags: [Modules]
      operationId: listModuleItemProperties
      summary: List all items for a module
      description: >-
        Returns all item properties for the module identified by `moduleKey`.
        Use `chicken-fried` or `chicken-rotisserie` as the module key.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: A page of item properties for the selected module.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Request-Id:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleItemPropertiesPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /items/{itemId}/modules/{moduleKey}:
    parameters:
      - $ref: '#/components/parameters/ItemIdParam'
      - $ref: '#/components/parameters/ModuleKeyPathParam'
    patch:
      tags: [Items]
      operationId: patchModuleItemProperties
      summary: Update item for a particular module
      description: >-
        Updates only the editable attributes for the selected module. The DB-backed
        values itemName, csc, upc, and module are read-only here. The itemDetails is
        keyed by itemId and moduleKey and contains module-specific editable values.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModulePropertiesRequest'
            examples:
              chickenFried:
                $ref: '#/components/examples/ChickenFriedProperties'
              chickenRotisserie:
                $ref: '#/components/examples/ChickenRotisserieProperties'
      responses:
        '200':
          description: Module properties updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleItemProperties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /modules:
    get:
      tags: [Modules]
      operationId: listModules
      summary: List available item modules
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Supported item modules.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Module'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by the enterprise identity provider. Use scopes `items:read`, `items:write`, or `modules:write` as applicable.
      x-scopes:
        items:read: Read items and module definitions.
        items:write: Create, update, or deactivate items.
        modules:write: Update module-specific item properties.

  parameters:
    ItemIdParam:
      name: itemId
      in: path
      required: true
      description: Stable item identifier.
      schema:
        type: string
        format: uuid
    ModuleKeyParam:
      name: module
      in: query
      required: true
      description: Return only items assigned to this module.
      schema:
        $ref: '#/components/schemas/ModuleKey'
    ItemNameParam:
      name: itemName
      in: query
      required: false
      description: Case-insensitive partial match on the item name.
      schema:
        type: string
        minLength: 1
        maxLength: 200
    CscParam:
      name: csc
      in: query
      required: false
      description: Exact CSC lookup within the selected module.
      schema:
        $ref: '#/components/schemas/Csc'
    ModuleKeyPathParam:
      name: moduleKey
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ModuleKey'
    PageParam:
      name: page
      in: query
      required: false
      description: One-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

  headers:
    ETag:
      description: Entity tag identifying the response version.
      schema:
        type: string
    RequestId:
      description: Unique identifier for support and tracing.
      schema:
        type: string
        format: uuid
    RetryAfter:
      description: Number of seconds to wait before retrying.
      schema:
        type: integer
        minimum: 1

  responses:
    BadRequest:
      description: Request syntax or query parameter validation failed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Missing, expired, or invalid JWT.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: JWT is valid but lacks the required scope.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Resource does not exist or is not visible to the caller.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: Resource state conflicts with the requested operation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: itemDetails is well-formed but violates a domain rule.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    RateLimited:
      description: Too many requests.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalServerError:
      description: Unexpected server error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    ModuleKey:
      type: string
      enum:
        - chicken-fried
        - chicken-rotisserie
      description: PREP module identifier. These values represent modules, not categories.

    Module:
      type: object
      required: [key, name, active]
      properties:
        key:
          $ref: '#/components/schemas/ModuleKey'
        name:
          type: string
          examples: [Chicken - Fried, Chicken - Rotisserie]
        active:
          type: boolean
        description:
          type: string

    Csc:
      type: string
      pattern: '^[0-9]{8}$'
      examples: ['11955215']
      description: CSC used to find the item within a module.

    Upc:
      type: string
      pattern: '^[0-9]{10}$'
      examples: ['0011955215']
      description: UPC for the item.

    Item:
      type: object
      required: [id, itemNumber, csc, itemName, upc, active, updatedAt]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        itemNumber:
          type: string
          minLength: 1
          maxLength: 32
        csc:
          $ref: '#/components/schemas/Csc'
        itemName:
          type: string
          minLength: 1
          maxLength: 200
        upc:
          $ref: '#/components/schemas/Upc'
        department:
          type: string
          maxLength: 100
        category:
          type: string
          maxLength: 100
        subcategory:
          type: string
          maxLength: 100
        active:
          type: boolean
        moduleKeys:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ModuleKey'
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ItemPage:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        pagination:
          $ref: '#/components/schemas/PagePagination'

    PagePagination:
      type: object
      required: [page, limit, totalItems, totalPages]
      additionalProperties: false
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        totalItems:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0

    ModuleItemPropertiesPage:
      type: object
      required: [data, pagination]
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ModuleItemProperties'
        pagination:
          $ref: '#/components/schemas/PagePagination'

    ModuleItemProperties:
      type: object
      required: [itemId, itemName, csc, upc, module, itemDetails, updatedAt]
      additionalProperties: false
      properties:
        itemId:
          type: string
          format: uuid
          readOnly: true
        itemName:
          type: string
          maxLength: 200
          readOnly: true
        csc:
          allOf: [$ref: '#/components/schemas/Csc']
          readOnly: true
        upc:
          allOf: [$ref: '#/components/schemas/Upc']
          readOnly: true
        module:
          $ref: '#/components/schemas/ModuleKey'
          readOnly: true
        itemDetails:
          oneOf:
            - $ref: '#/components/schemas/ChickenFriedItemDetails'
            - $ref: '#/components/schemas/ChickenRotisserieItemDetails'
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ModulePropertiesRequest:
      description: >-
        Module-specific attributes to update. The `module` discriminator selects
        the allowed itemDetails parameters and must match the `moduleKey` path value.
      oneOf:
        - $ref: '#/components/schemas/ChickenFriedModulePropertiesRequest'
        - $ref: '#/components/schemas/ChickenRotisserieModulePropertiesRequest'
      discriminator:
        propertyName: module
        mapping:
          chicken-fried: '#/components/schemas/ChickenFriedModulePropertiesRequest'
          chicken-rotisserie: '#/components/schemas/ChickenRotisserieModulePropertiesRequest'

    ChickenFriedModulePropertiesRequest:
      type: object
      additionalProperties: false
      required: [module, itemDetails]
      properties:
        module:
          type: string
          const: chicken-fried
        itemDetails:
          $ref: '#/components/schemas/ChickenFriedItemDetails'

    ChickenRotisserieModulePropertiesRequest:
      type: object
      additionalProperties: false
      required: [module, itemDetails]
      properties:
        module:
          type: string
          const: chicken-rotisserie
        itemDetails:
          $ref: '#/components/schemas/ChickenRotisserieItemDetails'

    ChickenFriedItemDetails:
      description: Editable chicken-fried attributes, keyed by attribute name.
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        pieces:
          type: integer
          minimum: 1
          maximum: 999
        typeOfBox:
          type: string
          enum: [Mixed, Dark]

    ChickenRotisserieItemDetails:
      description: Editable chicken-rotisserie attributes, keyed by attribute name.
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        wholeBirdConv:
          type: number
          minimum: 0
          multipleOf: 0.01
          examples: [1.25]
        shredded:
          type: boolean
        variety:
          type: string
          enum: [Traditional, Open Nature, Lemon Pepper, Rosemary Garlic]

    Problem:
      type: object
      description: RFC 9457 problem details response.
      required: [type, title, status, detail, traceId]
      properties:
        type:
          type: string
          format: uri-reference
          example: https://api.prep.safeway.com/problems/validation-error
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        instance:
          type: string
          format: uri-reference
        traceId:
          type: string
          format: uuid
        errors:
          type: array
          items:
            type: object
            required: [field, message]
            properties:
              field:
                type: string
              message:
                type: string
              code:
                type: string

  examples:
    ChickenFriedProperties:
      value:
        module: chicken-fried
        itemDetails:
          pieces: 8
          typeOfBox: Mixed
    ChickenRotisserieProperties:
      value:
        module: chicken-rotisserie
        itemDetails:
          wholeBirdConv: 1.25
          shredded: false
          variety: Lemon Pepper
